.trans-action-bar{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.trans-action-title{
    font-size: 0.875rem;
    color: #666;
}
.trans-action{
    line-height: 2rem;

}

.trans-time{
    font-size: 0.8rem;
}
.transaction-action{
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.4rem;
}

