.transaction-bar{
    width:20rem;
}
.trans-action{
    line-height: 2rem;
    font-size: 0.8rem;

}
.trans-status{
    font-size: 0.8rem;
}
.trans-time{
    font-size: 0.5rem;
}
.transaction-action{
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.4rem;
}
