.form-check-input,
.dropdown-item,
.global-setting label,
.global-setting .row{
    cursor: pointer;
}

.global-setting {
    width: 17rem;
    transform: translate3d(2rem, 40px, 0px) !important ;
}

.language-setting-menu img{
    width:1.3rem;
    margin-right: 0.6rem;
    position: relative;
    top: -0.1rem;
}
.language-setting-menu .bi{
    display: none;
    float: right;
}
.language-setting-menu .active .bi{
    display: inline-block;
}

.setting-header {
    font-size: 0.875rem;
    color: #666;
    width: 100%;
}